/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=======PERSONAL CODE STARTS HERE======*/
/*
---General---
*/

body {
    background: #222;
    overflow: 100%;
}

a{
	text-decoration: none;
}
a:link {
	color: #999;
}
a:visited {
	color: #999;
}
a:hover {
	color: #666;
}
a:active {
	color: #333;
}

.page{
	background-image: url("images/backgroundkatagray.gif");
	background-size: 125px auto;
	background-repeat: no-repeat;
	background-position: left 10px top 140px;
}

h5 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #999;
}

/*
-----INDEX----
*/

.enter-img {
	display: block;
	/*margin: 50px auto 50px auto;*/
	margin: 0 auto 0 auto;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	position: relative;
	top: 25%;
}

.enter-title {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	color: #999;
}

#splash {
	background: -webkit-linear-gradient(black , #222);
	background:    -moz-linear-gradient(black , #222);
	background:         linear-gradient(black , #222);
	width: 100%;
	height: 100%;
	/*z-index: 1;*/
	position: fixed;

}


/*
-----Header-----
*/

header {
	background: -webkit-linear-gradient(#000, rgba(0,0,0,0));;
	background:         linear-gradient (#000, rgba(0,0,0,0));
	height: 150px;
	width: 100%;
	/*z-index: 0;*/
	position:fixed;
}

.header-logo {
	width: 150px;
	height: 150px;
	float: left;
}

.pagenav {
	float: right;
	margin: 126px 20px 0px 0px;
}

.pagenav td{
	text-align: center;
	padding-left: 15px;
	padding right: 15px;

}


/*
-----Footer-----
*/

footer p{
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	right: 10px;
	bottom: 0;
	position: absolute;
}

/*
----Main Column Space----
*/

.main-column {
	display: block;
	background-color: red;
	width: auto;
	height: 100%;
	margin: 0 150px 0 150px;
}

/*
---Blog---

*/

.blog-column {
	display: block;
	background-color: red;
	width: auto;
	min-height: 100%;
	margin: 25px 50px 0 50px;
}

.tumblr {
	display: block;
	width: 90%;
	bottom: 10px;
	top: 150px;
	height: 80%;
	position: absolute;
}








